@{
    ViewBag.Title = "Home Page";
}

<h1> Test Razor</h1>

<form>
    <div>
        <label> Date</label>
    </div>
    <input />
    <div>
        <label> Location</label>
        <input />
    </div>
    <div>
        <input type="button" value="Add" />
    </div>
</form>
