@{
  ViewBag.Title = "Home Page";
}
@section Scripts{

  <script src="~/lib/angular/angular.min.js"></script>
  <script src="~/lib/angular-route/angular-route.min.js"></script>
  <script src="~/scripts/simpleControls.js"></script>
  <script src="~/scripts/app-trips.js"></script>
  <script src="~/scripts/tripsController.js"></script>
  <script src="~/scripts/tripEditorController.js"></script>
}
<div class="row" ng-app="app-trips">

  <div ng-view></div>


</div>